@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(135deg, #5fbf8f, #f4f9f6); 
}

.genLayout {
    max-width: 1000px;
    margin: auto;
}

.headerone {
    border: 1px solid white;
    height: 30px;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo > img {
    width: 30px;
    border-radius: 3px;
}


.logo, .icons, .location  {
    display: flex;

}

.logo > span {
    display: flex;
    margin-right: 20rem;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    color: #FFFFFF;

}

.loginbtn {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    gap: 6px;
     border-radius: 8px;
    background-color: #FFFFFF;
    border: 2px solid black;     
}

main {
    background-color: #FFFFFF;

}

.hero {
    display: grid;
    border: 1px solid blue;
    background-color: azure;
    position: relative;
    overflow: hidden;
    min-height: 420px;
    padding: 60px;
}

.hero > h1 {
    color:#5fbf8f;
    font-family: "Roboto Slab", serif;
    margin-top: 50px;
}

.hero > p {
    font-size: 13px;
    color:#504F4F;
    font-family: "Roboto Slab", serif;
    margin-top: 10px;

}

.heroimg {
    position: relative;
    
}
.heroimg > img {
    position: absolute;
    right: -50px;
    bottom: -270px;
    width: 380px;
    max-width: none;
    border-radius: 50%;
    padding: 40px;

}

.herocontents {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    width: 520px;
}

.herotabs {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.herotabs > button:last-child {
    background: none;
    border: none;
    font-weight: 600;
    color: #757575;
}

.herotabs > button:first-child {
    border-radius: 10px;
    width: 90px;
    color: #2e7d32;
    border: none;
}

.searchinput {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.searchinput > input {
    flex: 1;
    padding: 14px;
    outline: none;
    border-radius: 8px;
}

.searchinput > button {
    display: flex;
    align-items: center;
    height: 40px;
    background: #2e7d32;
    color: #ffff;
    border: none;
    padding: 22px;
    border-radius: 8px;
    font-weight: 600;
}

.maincontents {
    max-width: auto;
    display: grid;
    grid-template-columns: 1.0fr 1.0fr 1.0fr 2.0fr;
    margin-top: 20px;
}

.imgone > p > span {
    
    padding: 6px;
    border: 1px solid black;
    height: 10px;
    border: none;
    border-radius: 4px;
    background-color: #79B93C33;
    color: #79B93C;
    margin-top: 4px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;     
}
.p > span {
    margin-top: 20px;
}

.imgtwo > p > span {
    
    padding: 6px 7px;
    border: 1px solid black;
    height: 10px;
    border: none;
    border-radius: 4px;
    background-color: #79B93C33;
    color: #79B93C;
    margin-top: 4px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
   
    
}

.imgthree > p > span {
    
    padding: 6px 7px;
    border: 1px solid black;
    height: 10px;
    border: none;
    border-radius: 4px;
    background-color: #79B93C33;
    color: #79B93C;
    margin-top: 4px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;  
}

.imgfour > p > span {
    
    padding: 6px 7px;
    border: 1px solid black;
    height: 10px;
    border: none;
    border-radius: 4px;
    background-color: #79B93C33;
    color: #79B93C;
    margin-top: 4px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
   
    
}

.imgone > img {
    width: 12rem;
    height: 10rem;
    border-radius: 6px;
    gap: 4px;
    
}

.imgtwo > img {
    width: 12rem;
    height: 10rem;
    border-radius: 6px;
    gap: 4px;
   
}

.imgthree > img {
    width: 12rem;
    height: 10rem;
    border-radius: 6px;
   
}

.imgfour > img {
    width: 12rem;
    height: 10rem;
    border-radius: 6px;

}

